@using WebTakenApp.Models
@model dynamic
@{
    ViewData["Title"] = "Index";
}

<div id="PlaceHolderHere"></div>
<div class="sidenav">
    <h6>Mijn Groepen</h6> <br />
    @foreach (var groep in Model.GroepVM)
    {
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">@groep.Naam</a>
        <ul class="dropdown-menu">
            @foreach (var persoon in groep.personen)
            {
                <li><a class="dropdown-item" href="@Url.Action("Index","Taak", new { groepId = groep.Id, persoonId = persoon.Id})">@persoon.Naam</a></li>
            }
            <li>
                <form id="myForm" action="/Groep/VoegGroepslidToe" method="Post">
                    <input type="hidden" name="groepId" value="@groep.Id" />
                    <div class="form-floating small">
                        <label for="floatingInput">Gebruikersnaam</label>
                    </div>
                    <button type="submit">Toevoegen</button>
                </form>
            </li>
        </ul>
    }
</div>
<div class="main">
    <div class="container">
        <br />
        <div class="input-group rounded">
            <input id="myInput" class=" form-control rounded" placeholder="Search" aria-describedby="search-addon" style="width:auto" />
        </div>
        <table class="table table-striped table-hover" style="width:100%" id="takenTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)" scope="col">Naam</th>
                    <th onclick="sortTable(1)" scope="col">Beschrijving</th>
                    <th onclick="sortTable(2)" scope="col">Deadline</th>
                </tr>
            </thead>
            <tbody id="myList">
                @foreach (var taak in Model.TaakVM)
                {
                    int id = taak.Id;
                    <tr>
                        <td>
                            <a data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">
                                @taak.Naam
                            </a>
                        </td>
                        <td>
                            <a data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">
                                @taak.Beschrijving
                            </a>
                        </td>
                        <td>
                            <a data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">
                                @taak.Deadline
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#taakToevoegen" data-url="@Url.Action("Update","Taak", new {taakId = taak.Id})">
                                Update
                            </button>
                            <button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#taakToevoegen" data-url="@Url.Action("Delete","Taak", new {taakId = taak.Id})">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#taakToevoegen" data-url="@Url.Action("Create","Taak")">
        Nieuwe taak
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Offcanvas right</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
    </div>
</div>      